* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}
img.logo {
  max-width: 70px;
  max-height: 70px;
  position: relative;
  bottom: 10px;
}
a.link {
  text-decoration: none;
  min-width: 130px;
  font-weight: bold;
  color: #2980b9;
  text-align: center;
  position: relative;
  top: 14px;
}
header {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: white;
  display: flex;
  justify-content: center;
}
header h2 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
}
main {
  display: flex;
  justify-content: space-between;
}
aside {
  padding-right: 16px;
}
aside button {
  display: inline-block;
  background-color: #1abc9c;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  min-width: 94px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
aside button:hover {
  background-color: #16a085;
  color: white;
}
aside p {
  font-size: 17px;
  margin-bottom: 12px;
}
footer {
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
footer h2 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
  max-height: 30px;
}
footer img {
  position: relative;
  top: -2px;
}
.moveUp,
.expenseContainer button {
  display: inline-block;
  background-color: #1abc9c;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  min-width: 94px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
.moveUp:hover {
  background-color: #16a085;
  color: white;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-content input {
  margin-top: 17px;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid black;
}
.error {
  font-size: 18px;
  color: red;
  margin-top: 18px;
}
.main-content img {
  max-width: 30px;
  max-height: 30px;
  position: relative;
  top: 8px;
  cursor: pointer;
}
.expenseContainer p {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  font-size: 18px;
}
.expenseContainer img {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  position: relative;
  top: -2px;
}
.expenseContainer input {
  margin-right: 15px;
  margin-top: 0;
  max-width: 170px;
}
#myChart {
  max-width: 300px;
  max-height: 400px;
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120px;
  }
  header h2 {
    position: relative;
    top: -20px;
  }
  header a {
    display: inline-block;
    position: relative;
    top: -18px; /* Move up */
    right: 20px;
    margin-top: -20px; /* Alternative */
    width: 30%;
  }
  header img {
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  main {
    flex-direction: column;
  }
  div.main-content {
    flex-direction: column;
  }
  #myChart {
    margin-top: 20px;
  }
  footer {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 140px;
    margin-top: auto;
  }
  footer img {
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  footer h2 {
    position: relative;
    top: -10px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  div.main-content {
    flex-direction: column;
  }
  #myChart {
    margin-top: 20px;
  }
}
